$color-0: #000000;
$color-2: #222222;
$color-6: #666666;
$color-a: #AAAAAA;
$color-b: #BBBBBB;
$color-d: #DDDDDD;
$color-e: #EEEEEE;
$colorfa: #FAFAFA;
$color-f: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  color: $color-6;
  font-size: 1.7rem;
  background-color: $color-e;
  font-family: 'Roboto', sans-serif;
  line-height: 1.9;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

a {
  color: $color-6;

  &:hover {
    color: $color-2;
    font-weight: 500;
  }
}

p, ul {
  margin-bottom: 0;
}

.btn-dark {
  background-image: linear-gradient(to bottom, #444444 0%, #333333 100%);
  background-repeat: repeat-x;
  border-color: #222222;
  color: #EEEEEE;

  &:hover {
    color: #EEEEEE;
    background-image: none;
    background-color: #222222;
  }
}

section {
  position: relative;
  padding: 1em 2.5em;
  background-color: $colorfa;
  border: 1px solid $color-d;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    transform: rotate(135deg);
    border: 35px solid transparent;
  }
  
  &::before {
    top: -48px;
    left: -48px;
    border-top: 35px solid $color-e;
    box-shadow: 0px -7px 6px -9px $color-0;
  }
  
  &::after {
    bottom:-48px;
    right: -48px;
    border-bottom: 35px solid $color-e;
    box-shadow: 0px 7px 6px -9px $color-0;
    
  }
}

.summary {
  border-top: 1px solid $color-e;
}
