$color-0: #000000;
$color-2: #222222;
$color-6: #666666;
$color-a: #AAAAAA;
$color-b: #BBBBBB;
$color-d: #DDDDDD;
$color-e: #EEEEEE;
$colorfa: #FAFAFA;
$color-f: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  color: $color-6;
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.9;
  overflow-x: hidden;
  background-color: $colorfa;
  background-image: url('~assets/images/bg.png');
}

main {
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

a {
  color: $color-6;

  &:hover {
    color: $color-2;
    font-weight: 500;
  }
}

p, ul {
  margin-bottom: 0;
}

.btn-dark {
  background-image: linear-gradient(to bottom, #444444 0%, #333333 100%);
  background-repeat: repeat-x;
  border-color: #222222;
  color: #EEEEEE;

  &:hover,
  &:focus {
    color: #EEEEEE;
    background-image: none;
    background-color: #222222;
  }
}

section {
  position: relative;
  padding: 1em 2.5em;
  background-color: $color-f;
  border: 1px solid $color-d;
}

.summary {
  border-top: 1px solid $color-e;
}

.text-gray {
  color: $color-a;
}