@import './bootstrap.min';
@import './spacers';
@import './bootstrap-theme';
@import './general';

// nav bar
.nav-item {
  padding: 0 1em;
}

// contacts
.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  svg {
    width: 20px;
    fill: $color-b;
    margin: 0 10px;

    &:hover {
      fill: $color-2;
    }
  }
  
}

// tools
.tools {
  .discription {
    font-size: 1.05em;
  }

  .tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tool {
      padding: 1.5em;
  
      .title {
        display: block;
        text-align: center;
        text-transform: uppercase;
      }

      .level {
        position: relative;
        bottom: 2px;
      }
  
      svg {
        width: 80px;
        fill: $color-b;
        margin: 3px 10px;
      }
  
      &:hover {
        background-color: $color-e;
  
        svg {
          fill: $color-2;
        }
      }
    }
  }

  .level {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    vertical-align: middle;
    
    &.high { background-color: #14c514; }
    &.mid { background-color: #1478d4; }
    &.low { background-color: #da2c15; }
  }
}

// notes 
ul.notes {
  padding-left: 1em;
  list-style-type: '⇒';

  li {
    padding-left: 0.9em;
  }
}

// footer
.site-footer {
  font-size: 0.9em;
  background-color: $color-f;
  border-top: 1px solid $color-d;
}


// single-article
.article {
  h1 {
    font-size: 1.9em;
  }

  .nuxt-content-highlight {
    pre[class*="language-"] {
      margin-top: 0;
    }

    .filename {
      display: inline-block;
      background-color: #191919;
      padding: 0 1rem;
      color: #eee;
      border-radius: 0 1rem 0 0;
      position: relative;
      bottom: -2px;
      z-index: 3;
      border-left: 1px solid #ccc;
    }
  }

  p {
    margin-bottom: 0.8em;
  }

  p > code,
  li > code,
  h2 > code {
    color: $color-0;
    border: 1px solid $color-d;
    background-color: #f1fbff;
  }

  ol {
    padding-left: 1em;
    margin-bottom: 1.3em;

    li {
      padding-left: 0.5em;
    }

    ul {
       margin-bottom: 0.8em;
    }
  }

  ul {
    list-style: '☛';
    padding-left: 1em;
    margin-bottom: 1.3em;

    li {
      padding-left: 1em;
    }
  }

  a {
    color: #069ce2;
    text-decoration: underline;
  }

  hr {
    margin-top: 3rem;
  }

  blockquote {
    margin: 0.9em 0;
    border: 1px solid $color-e;
    border-left: 5px solid #43bef7;
    background-image: url('~assets/images/bg.png');
    box-shadow: inset 0rem 0rem 10rem 2rem rgba(255,255,255,0.6);
  }

  img {
    max-width: 100%;
    background-image: url('~assets/images/bg.png');
    border: 1px solid $color-d;
  }
}


// comments section
.utterances {
  max-width: initial;
}