@use 'sass:math';
$space-values : (
  0,
  3,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50
) !default;

// margin and padding shorthands
$space-prefixes : (
  p  : padding,
  pt : padding-top,
  pr : padding-right,
  pb : padding-bottom,
  pl : padding-left,
  m  : margin,
  mt : margin-top,
  mr : margin-right,
  mb : margin-bottom,
  ml : margin-left,
) !default;

@mixin make-spaces() {
  @each $attr-short, $attr-long in $space-prefixes { 
    @each $value in $space-values {
      @media(min-width:768px) {
        .#{$attr-short}-#{$value} {
          #{$attr-long}: #{$value}#{'px'} !important;
        }
      }

      @media(max-width:767px) {
        .#{$attr-short}-#{$value} {
          #{$attr-long}: #{$value * 0.5}#{'px'} !important;
        }
      }
    }
  }
}

@include make-spaces();